*{
    box-sizing: border-box;
}
@font-face {

    font-family: 'Raleway';
    font-weight: 400;
    src: url('./Raleway/static/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';
    font-weight: 500;
    src: url("./Raleway/static/Raleway-Medium.ttf")
}

@font-face {
    font-family: 'Raleway';
    font-weight: 600;
    src: url("./Raleway/static/Raleway-SemiBold.ttf")
}
@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    src: url("./Raleway/static/Raleway-Bold.ttf")
}
body {
    margin: 0;
    font-family: 'Raleway';
    font-weight: 400;
}

.header {
background-position: top right;
border-top: 1px solid #EBFFE4;
 max-width: 1600px;
 min-height: 850px;


background-color: #EBFFE4;
}

.logo {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    
}
    
.button-style {
padding: 15px, 30px;

border: none;
border-radius: 4px;
color: #5CBE3A;

} 


